@import 'reset.css';
@import 'variables.scss';

body {
  background-color: white;
  font-family: $font-primary;
  font-weight: 400;
  color: $color-black;
  line-height: 1.35;
}

*:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover, &:focus {
    color: inherit;
  }
}

h1 {
  font-size: 24px;
  line-height: 1.35em;
  font-weight: 600;
  // color: $color-green;
}

h2 {
  font-size: 22px;
  line-height: 1.35em;
  font-weight: 500;
}

h3 {
  font-size: 15px;
  line-height: 1.35em;
}

h4 {
  font-size: 12px;
  line-height: 1.35em;
  font-weight: 500;
}

.row {
  display: flex;
  flex-direction: row;
  // height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  width: 90%;
  max-width: 1280px;
}

@media (min-width: $screen-xl) {
  h1 {
    font-size: 36px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 13px;
  }
}
