// Colors
$color-green: #72DD7B;
$color-darker-green: #638475;
$color-lighter-green: #B7EA97;
$color-lightest-green: #E9F9E1;
$color-black: #232323;
$color-gray: #CBCBCB;
$color-darker-gray: #8B8B8B;
$color-lighter-gray: #F6F6F6;
$color-red:#D3596B;
$color-darker-red: #CE4760;
$color-lighter-red:#E28C89;
$color-lightest-red: #F6D0B1;
$color-yellow: #FAC74C;

// Fonts
$font-primary: 'Montserrat', sans-serif;

// Screens
$screen-sm: 480px;
$screen-md: 720px;
$screen-lg: 960px;
$screen-xl: 1140px;
